.App {
  text-align: center;
}

.base-container {
  width: 100%;
  min-height: 100vh;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 53%, #FFCC70 100%);
}
